/* style MAIN */

.main-content {
  background: rgb(17, 17, 17);
  width: 100%;
  margin-top: 100px;
}

.register-title {
  text-align: center;
  color: rgb(255, 255, 255);
  padding-top: 40px;
  font-weight: bolder;
  font-size: 30px;
}


.register-box {
  padding: 48px;
  margin: 20px auto 90px;
  width: 400px;
  min-height: 450px;
  background: rgb(31, 31, 31);
  border-radius: 6px;
}



.form-register__input {
  min-height: 45px;
  border: none;
  outline: none;
  padding: 5px 15px;
  margin-bottom: 2px;
  border-radius: 6px;
  color: rgb(79, 80, 87);
  width: 100%;
  font-size: 18px;
}


.form-register__input::placeholder {
  color: rgb(209, 206, 206);
}



.form-register__btn-register {
  min-height: 40px;
  border: none;
  outline: none;
  padding: 8px 16px;
  margin: 10px 0;
  border-radius: 6px;
  color: #fff;
  width: 100%;
  font-size: 16px;
  background: #ff6500;
}


.form-register__btn-register:hover {
  background-color: #a74503;
}


.form-register-txt {
  text-align: center;
}


.form-register-txt,
.register-txt {
  color: rgb(130, 130, 130);
}


.form-register__btn {
  display: flex;
  flex-direction: column;
}


.form-register__btn-FB {
  min-height: 40px;
  border: none;
  outline: none;
  padding: 8px 16px;
  margin-bottom: 8px;
  border-radius: 6px;
  color: #fff;
  width: 100%;
  font-size: 16px;
  background: rgb(66, 103, 178);
}



.form-register__btn-FB:hover {
  background-color: rgb(32, 80, 177);
}


.form-register__btn-GG {
  min-height: 40px;
  border: none;
  outline: none;
  padding: 8px 16px;
  margin-bottom: 8px;
  border-radius: 6px;
  color: #fff;
  width: 100%;
  font-size: 16px;
  background: rgb(221, 75, 57);
}



.form-register__btn-GG:hover {
  background-color: rgb(219, 56, 34);
}

.register {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.register-link {
  color: #b4b4b4;
  font-size: 14px;
  font-weight: bold;

}

.register-link:hover {
  text-decoration: none;
  color: #ff6500;
}

.policy {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}

.policy-login {
  display: flex;
  margin-top: 0px;
}

.policy-txt {
  color: #b4b4b4;
  font-size: 14px;
  margin: 2px auto;
}

.policy-login-link {
  color: #b4b4b4;
  font-size: 14px;
  margin: 0 auto;
  margin-top: 8px;
}

.policy-login-link:hover {
  text-decoration: none;
  color: #ff6500;
}

.policy-link-regis {
  color: #fff;
  font-size: 14px;
  margin: 2px auto;
}

.policy-link-regis:hover {
  text-decoration: none;
  color: #ff6500;
}